@using Blazorise

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">

    <BarBrand>
        VoteHub
    </BarBrand>

    <BarToggler/>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="#home">Polls</BarLink>
            </BarItem>

            <BarItem>
                <BarLink To="#docs">News</BarLink>
            </BarItem>
        </BarStart>

        <BarEnd>
            <BarItem>
                <Button To="Account/Register" Color="Color.Primary" Margin="Margin.Is2">Sign up</Button>
                <Button To="Account/Login" Color="Color.Secondary" Margin="Margin.Is2">Log in</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
}