@using Application.Services
@using Blazorise
@using Infrastructure.Database.Entities
@using Microsoft.AspNetCore.Identity
@using Presentation.Extensions
@using EntityPoll = Domain.Entities.Poll
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<VoteHubUser> UserManager
@using EntityPollOption = Domain.Entities.PollOption
@inject IPollService PollService
@inject ILogger<PollCreation> Logger
@inject NavigationManager NavigationManager

<h3>PollCreation</h3>

<AuthorizeView>
    <Authorized>
        <Fields>
            @* Poll Creation *@
            <Field>
                <FieldLabel>Poll Name</FieldLabel>
                <TextEdit @bind-Text="Poll.Name"></TextEdit>
            </Field>
            
            <Field>
                <FieldLabel>Poll Description</FieldLabel>
                <TextEdit @bind-Text="Poll.Description" Size="Size.Large"></TextEdit>
            </Field>
            
            <Field>
                <Switch TValue="bool" Checked="_showDatePicker" CheckedChanged="HandleExpiryDateToggle"></Switch>
                
                @if (_showDatePicker)
                {
                    <Tooltip Text="Click me to choose a date!">
                        <DatePicker TValue="DateTime?" @bind-Date="@Poll.ExpiresAt" Placeholder="DD/MM/YYYY"></DatePicker>
                    </Tooltip>
                }
            </Field>

            @* Poll Option Creation *@
            <Fields>
                <Alert Color="AlertProperties.Color" @bind-Visible="AlertProperties.IsVisible">
                    <AlertMessage>@AlertProperties.Message</AlertMessage>
                </Alert>
                
                <Field>
                    <FieldLabel>Poll Option Name</FieldLabel>
                    <TextEdit @bind-Text="PollOptionCreating.Name"></TextEdit>
                </Field>
                
                <Field>
                    <FieldLabel>Poll Option Description</FieldLabel>
                    <TextEdit @bind-Text="PollOptionCreating.Description" Size="Size.Medium"></TextEdit>
                </Field>
                
                <Field>
                    <Button Color="Color.Success" Clicked="HandlePollOptionClick">Create Poll Option</Button>
                </Field>
            </Fields>
            
            @* Poll Options *@
            <Fields>
                @foreach (var option in Poll.Options)
                {
                    <Field>
                        <FieldLabel>Poll Option Name</FieldLabel>
                        <Tooltip Text="Can be changed dynamically!">
                            <TextEdit @bind-Text="option.Name"></TextEdit>
                        </Tooltip>
                    </Field>
                    
                    <Field>
                        <FieldLabel>Poll Option Description</FieldLabel>
                        <Tooltip Text="Can be changed dynamically!">
                            <TextEdit @bind-Text="option.Description" Size="Size.Medium"></TextEdit>
                        </Tooltip>
                    </Field>
                }
            </Fields>
            
            @* Submit Button *@
            <Field>
                <Button Color="Color.Primary" Clicked="HandleSubmit">Create Poll</Button>
            </Field>
        </Fields>
    </Authorized>
    
    <NotAuthorized>
        <p>Please log in in order to create a poll.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private EntityPoll Poll { get; set; } = new();
    private EntityPollOption PollOptionCreating { get; set; } = new();

    private AlertProps AlertProperties { get; set; } = new();
    
    private bool _showDatePicker = false;
    
    private VoteHubUser _currentUser = null!;
    
    // getting a user from the authentication state
    protected override async Task OnInitializedAsync()
    {
        try
        {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        
        _currentUser = await UserManager.GetUserAsync(user) ?? throw new InvalidOperationException("User not found");
        
        }
        catch (Exception e)
        {
            Logger.LogError("Error while getting user from authentication state: {Message}", e.Message);
            throw;
        }
    }

    private async Task HandleSubmit()
    {
        try
        {
            Poll.Id = _currentUser.Id;
            
            await PollService.AddAsync(Poll);
        }
        catch (Exception e)
        {
            Logger.LogError("Error while creating poll: {Message}", e.Message);;
            throw;
        }
    }
    
    private void HandlePollOptionClick()
    {
        //when submitting a new poll option Alert visibility should be reset
        AlertProperties.IsVisible = false;
        
        if (string.IsNullOrWhiteSpace(PollOptionCreating.Name))
        {
            AlertProperties.Message = "please fill the poll option name";
            AlertProperties.IsVisible = true;
            return;
        }
        
        Poll.Options.Add(PollOptionCreating);
        
        // reset the poll option to make new poll options if needed
        PollOptionCreating = new EntityPollOption();
    }

    // if user decides to disable the date picker, the poll expiration date should be set to null
    // (that's why i need this method)
    private void HandleExpiryDateToggle(bool isChecked)
    {
        if (!isChecked)
        {
            Poll.ExpiresAt = null;
        }
    }
    
    //TODO divide all that code into smaller files, looks too big
}