@using Blazorise
@using EntityPollOption = Domain.Entities.PollOption

<h3>PollOption</h3>

@* Better to wrap poll options in <Fields></Fields> to customize it properly *@

<Field>
    <Tooltip Text="@Option.Description">
        <Button Color="Color.Light" Clicked="HandleClick">@Option.Name</Button>
    </Tooltip>
</Field>

@code {
    [Parameter]
    public EntityPollOption Option { get; set; } = new();
    
    [Parameter]
    public EventCallback<EntityPollOption> OnClick { get; set; }
    
    private async Task HandleClick() => await OnClick.InvokeAsync(Option);
}