@using Application.Services
@using EntityPoll = Domain.Entities.Poll;
@using EntityPollOption = Domain.Entities.PollOption;
@using Blazorise
@using Domain.Entities
@using Infrastructure.Database.Entities
@using Microsoft.AspNetCore.Identity
@using Presentation.Extensions
@inject UserManager<VoteHubUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IPollOptionService PollOptionService
@inject IVoteService VoteService

<h3>Poll</h3>

<Card>
    <CardHeader>
        <CardTitle>@EntityPoll.Name</CardTitle>
        
        <CardSubtitle>@EntityPoll.Description</CardSubtitle>
        
        <Alert bind-Visible="AlertProperties.IsVisible" Color="AlertProperties.Color">
            <AlertMessage>@AlertProperties.Message</AlertMessage>
        </Alert>
    </CardHeader>

    <Fields>
        @foreach (var option in PollOptions)
        {
            <PollOption Option="@option" OnClick="HandlePollOptionClick"/>
        }
    </Fields>
</Card>

@code {
    [Parameter]
    public EntityPoll EntityPoll { get; set; } = new();
    
    [Parameter]
    public List<EntityPollOption> PollOptions { get; set; } = [];
    
    private VoteHubUser? _currentUser;

    private Vote? UserVote { get; set; }

    AlertProps AlertProperties { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        // Getting a user, if not authenticated, _currentUser will be null
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            _currentUser = await UserManager.GetUserAsync(user);
        }
        else
        {
            _currentUser = null;
        }
        
        PollOptions = await PollOptionService.GetPollOptionsByPollIdAsync(EntityPoll.Id);
    }
    
    private async Task HandlePollOptionClick(EntityPollOption option)
    {
        AlertProperties.IsVisible = false;
        
        // checking if the user is authenticated
        if (_currentUser == null)
        {
            AlertProperties.Message = "please login to vote";
            AlertProperties.IsVisible = true;
            return;
        }
        
        // trying to get the existing vote of the user if user's null
        UserVote ??= await VoteService.GetVoteByUserAndPollAsync(_currentUser.Id, EntityPoll.Id);
        

        // UserVote still being null means the user has not voted yet
        // we need to create a new vote
        if (UserVote == null)
        {
            UserVote = new Vote
            {
                PollId = EntityPoll.Id,
                UserId = _currentUser.Id,
                PollOptionId = option.Id
            };

            await VoteService.AddVoteAsync(UserVote);
            await VoteService.SaveChangesAsync();

            AlertProperties.Message = "successfully voted";
            AlertProperties.Color = Color.Success;
            AlertProperties.IsVisible = true;
            return;
        }

        // If the user already voted for this option, don't do anything
        if (UserVote.PollOption == option)
            return;
        
        // this piece of code is executed if none of the above conditions are met (meaning the user has already voted and
        // wishes to change their vote, meaning we need to update the vote)

        await VoteService.UpdateVoteAsync(UserVote);
        
        AlertProperties.Message = "successfully updated your vote";
        AlertProperties.Color = Color.Success;
        AlertProperties.IsVisible = true;
        
        await VoteService.SaveChangesAsync();
    }
}