@using Blazorise
@using EntityPollOption = Domain.Entities.PollOption

@* Better to wrap poll options in <Fields></Fields> to customize it properly *@

<div class="poll-option">
    <Tooltip Text="@Option.Description" Placement="TooltipPlacement.Top">
        <Button Color="Color.Primary" Class="poll-option-btn" Clicked="HandleClick">
            <span class="option-text">@Option.Name</span>
            <i class="fas fa-vote-yea option-icon"></i>
        </Button>
    </Tooltip>
</div>


@code {
    [Parameter]
    public EntityPollOption Option { get; set; } = new();
    
    [Parameter]
    public EventCallback<EntityPollOption> OnClick { get; set; }
    
    private async Task HandleClick() => await OnClick.InvokeAsync(Option);
}